<div class="form-group">
  <input type="text" class="form-control" placeholder="{{ 'clients.search' | translate }}" ng-model="query">
</div>

<table class="table">
  <thead>
    <tr>
      <th>{{ 'clients.id' | translate }}</th>
      <th>{{ 'clients.name' | translate }}</th>
      <th>{{ 'clients.phone' | translate }}</th>
      <th>{{ 'clients.system' | translate }}</th>
      <th>{{ 'clients.price' | translate }}</th>
      <th>{{ 'clients.start-date' | translate }}</th>
      <th>{{ 'clients.end-date' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients | fuse : query track by client.id" ng-class="statusClasses[client.status]">
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.phone }}</td>
      <td>{{ client.system }}</td>
      <td>{{ client.price }}</td>
      <td>{{ client.startDate | date }}</td>
      <td>{{ client.endDate | date }}</td>
      <td class="text-center">
        <i class="fa fa-refresh pointer" ng-click="renewClientSubscription(client)"></i>
      </td>
      <td class="text-center">
        <i class="fa fa-pencil pointer" ng-click="openEditClientModal(client)"></i>
      </td>
      <td  class="text-center">
        <i class="fa fa-trash pointer" ng-click="openDeleteClientModal(client)"></i>
      </td>
    </tr>
  </tbody>
</table>