<div class="panel panel-default notification pointer" ng-repeat="notification in notifications">
  <div class="panel-body">
    <span class="badge badge-warning" ng-show="notification.status === 'close'">{{ notification.days }}</span>
    <span class="badge badge-danger" ng-show="notification.status === 'inactive'">{{ notification.days }}</span>
    <span class="notification-body">
      {{ notification.name }} {{ 'notifications.' + notification.status | translate }}
    </span>
  </div>
</div>

<p ng-hide="notifications.length > 0">
  {{ 'notifications.empty' | translate }}
</p>