@import url('./assets/css/Cairo.css');

/* INITIAL */

html,
body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

body,
body * {
  font-family: 'Cairo', sans-serif;
  user-select: none;
}

/* UTILS */

.pointer {
  cursor: pointer;
}

/* HEADER */

.app-header {
  background: #444;
  color: white;
}

.app-header p {
  margin: 0;
  flex: 1;
  padding: 8px;
  -webkit-app-region: drag;
}

/* HEADER ICONS */

.app-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-right: 8px;
}

.app-header .icon {
  margin-left: 6px;
}

/* BOOTSTRAP OVERRIDE */

.modal-content {
  border-radius: 0;
  direction: rtl;
}

.modal-content,
.modal-content * {
  text-align: right;
}

.uib-datepicker-popup {
  background: white;
  padding: 0;
}

.uib-datepicker-popup,
.uib-datepicker-popup * {
  outline: none;
}

/* LAYOUT */

.app {
  margin-top: 15px;
}

[dir="rtl"],
[dir="rtl"] * {
  text-align: right;
}

/* NOTIFICATIONS */

.notification {
  margin-bottom: 10px;
}

.notification .notification-body {
  padding-right: 3px;
}

/* FORMS */

input.has-error {
  border: 1px solid darkred;
}

/* LOADER */

.full-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  font-size: 24px;
}